<% provide(:title, "About") %>
<h1>About</h1>
<p>We are under construction, sorry for delay
keep listening songs at <a href="https://www.gaana.com">Gaana.com</a>
<br />
<li><%= link_to "Home", root_path %></li> 
 <li><%= link_to "Help", help_path %></li> 
</p>