<% provide(:title, "About") %>
<h1>About</h1>
<p>We are under construction, sorry for delay
keep listening songs at <a href="https://www.gaana.com">Gaana.com</a>
<br />
<%= link_to "Home" , "http://localhost:3000/static_pages/home"%>
<!-- <a href="http://localhost:3000/static_pages/home">Home </a> -->
<a href="http://localhost:3000/static_pages/help">Help</a>
</p>