<% provide(:title, "Home") %>
<h1>Home page is under construction</h1>
<p>
We will notify you when it will  be working till then enjoy songs at
<a href="https://www.gaana.com">Gaana.com</a>.
For help click on <a href="http://localhost:3000/static_pages/help">this</a>
<br />
<a href="http://localhost:3000/static_pages/about">About</a>.
 </p>